#area-cabecalho {
    background-color: darkseagreen;
    padding: 30px;
    text-align: center;
}

#area-logo,
#area-menu {
    padding: 10px;
}

.link {
    color: white;
    text-align:right;
    display:inline-block;
    position:relative;
    margin:20px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}