#area-cabecalho {
    background-color: darkseagreen;
    padding: 30px;
    text-align: center;
}

#area-logo {
    padding: 10px;
}

.link {
    font-size: 20;
    color: black;
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 10px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link,
#area-cabecalho a:visited {
    color: darkseagreen;
    PADDING: 8px 12px;
}

#area-cabecalho a:hover {
    color: black;
    background: #fff;
    text-decoration: none;
}