

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    float: center;
}

#area-principal {
    width: 660px;
    margin: 0 auto;
    padding: 15px;
}

#element::-webkit-scrollbar {
    display: none;
    }