img{
    display:flex;
    flex-direction: row;
    width: 180px;
    right: 80px;
}

#area-postagens {
    width: 660px;
    display: flex;
    flex-direction: row;
}

#area-principal {
    width: 660px;
    margin: 0 auto;
    padding: 15px;
}