* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: bisque;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: red;
    font-size: 40px;
}

h2 {
    color: black;
    font-size: 35px;
}

h3 {
    color: #0a3a70;
    font-size: 30px;
}

.branco {
    color: white;
}

#area-principal {
    width: 660px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    width: 660px;
    float: left;
}

.postagem {
    padding: 30px;
    margin-bottom: 20px;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgpostagem {
    width: 520px;
    right: 360px;
}

