.area-informação{
    color: #0CAFF5;
    text-align: left;
    display: inline-block;
    position: relative;
    margin: 20px;
    border: none;
    background: black;
  }
  
  .informaçãobasica {
    background: rgba(0, 0, 0, 0.555);
    color: whitesmoke;
    font-style: italic;
    text-align: left;
    display: inline-block;
    margin: 20px;
    border: none;
    font-family:sans-serif;
  }
  
  .maisinfo{
    background: rgba(0, 0, 0, 0.555);
    color:whitesmoke;
    font-style: oblique;
    text-align: left;
    display: inline;
    margin: 20px;
    border:none;
    font-family:sans-serif;
  }
  
  li {
    color: whitesmoke;
  }
  
  .localiza {
    background: black;
    color: #0CAFF5;
    text-align: left;
    display: inline;
    margin: 20px;
    font-size: 20px;
    border: none;
  }

.bordalocaliza{
  border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 8px;
    border-right:8px;
    border-top: 8px;
    border-style:ridge;
    border-color: #0CAFF5;
}

.zapzap{
  width: 45px;
  right: 45px;
  float: center;
}

.gmail{
  width: 45px;
  right: 45px;
  float: center;
}