* {
    margin: 0;
    ;
    padding: 0;
}

h2 {
    font-size: 25px;
}

#areacabecalho {
    padding: 5px;
    text-align: right;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    color: black;
    text-align:right;
    display:inline-block;
    position:relative;
    margin:20px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.marca {
    font-size: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lavender;
    width: 150%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
    padding: 12px 16px;
    z-index: 1;
    padding: 10px 8px 10px 14px;
    border: 1px solid lavender;
    border-radius: 6px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

a:visited {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}