* {
    margin: 0;
    ;
    padding: 0;
}

h2 {
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 0.0625rem;
    border: none;
}

.home {

    font-size: 1.875rem;
    color: black;
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 1rem;
    border: none;
}

.filmes {

    font-size: 20;
    color: black;
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 0.0625rem;
    border: none;

}

.series {

    font-size: 20;
    color: black;
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 0.625rem;
    border: none;
}

.contato {

    font-size: 20;
    color: black;
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 1.1875rem;
    border: none;
}

#areacabecalho {
    min-width: fit-content;
    max-width: auto;
    text-align: right;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.marca {
    font-size: 2.5rem;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.0625rem 0.5rem;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lavender;
    width: 150%;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0, 2);
    padding: 0.75rem 1rem;
    z-index: 1;
    padding: 0.0625rem 0.5rem 0.625rem 0.875rem;
    border: 0.0625rem solid lavender;
    border-radius: 0.0625rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

a:visited {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}