.titulo {
    text-align: center;
}

.forms {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;

    input {
        font-size: 1rem;
    }
    select {
        font-size: 1rem;
    }
    option {
        text-align: center;
        font-size: 1rem;
    }
    button {
        font-size: 2rem;
    }
}