#fundo {
    background-color: bisque;
    padding: 20px;
}

#titulo {
    color: darkgreen;
    text-align: left;
}

#subtitulo {
    color: chocolate;
    text-align: left;
}

.texto {
    color: brown;
    font-weight: bold;
    text-align: justify;
    font-size: 15px;
}