body {
    background-color: bisque;
}

::placeholder {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.link {
    color: blue;
}

.align {
    text-align: center;
}