<!DOCTYPE html>

<head>
    <title>AllinOne - Informática Store - Contato</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <meta htttp-equiv="refresh" content="3">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<body>
    <div id="area-cabecalho">

        <div id="area-logo">
            <h1> AllinOne! <span class="branco">Tudo em tecnologia para você</span></h1>
        </div>
        <div id="area-menu">
            <a href="index.html">Home</a>
            <a href="quemsomos.html">Quem Somos</a>
            <a href="loja.html">Loja</a>
            <a href="servicos.html">Serviços</a>
            <a href="contato.html">Contato</a>
        </div>
    </div>
    <div id="area-principal">
        <div id="area-postagens">
            <div class="postagem">
                <h2>Mande um Email!</h2> <br /> <br />
                <img width="620px" src="./imagens/contato.jpg">
                <p>Prezado cliente!</p> <br />
                <p>Temos como compromisso permanente a sua satifação. Por esse motivo, colocamos à sua disposição nossa
                    Central de atendimento. Por meio desse canal de comunicação você poderá nos enviar suas dúvidas,
                    reclamações, sugetões e elogios.</p> <br />
                <p>Solicitamos a gentileza de encaminhar sua dúvida por e-mail para favilitar nosso contato.</p> <br />
                <ul>
                    <li><b>E-mail</b>:allinone@allinone.com.br</li>
                    <li><b>Telefone</b>: (14)99999-5555</li>
                </ul>