<!DOCTYPE html>

<head>
    <title>AllinOne - Informática Store - Index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <meta htttp-equiv="refresh" content="3">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<body>

    <div id="area-cabecalho">

        <div id="area-logo">
            <h1> AllinOne! <span class="branco">Tudo em tecnologia para você</span></h1>
        </div>
        <div id="area-menu">
            <a href="index.html">Home</a>
            <a href="quemsomos.html">Quem Somos</a>
            <a href="loja.html">Loja</a>
            <a href="servicos.html">Serviços</a>
            <a href="contato.html">Contato</a>
        </div>
    </div>
    <div id="area-principal">
        <h2>Nossas postagens</h2> <br>
        <div id="area-postagens">
            <div class="postagem">
                <h2>A importância da tecnologia no dia a dia</h2>
                <img width="620px" src="./imagens/postagem1.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui lacus, efficitur eu blandit
                    at, sagittis a est. Pellentesque ac rutrum justo, nec cursus arcu. Phasellus ornare est rutrum
                    ligula dignissim, dictum rhoncus nisl tincidunt. Vivamus blandit leo sit amet euismod rhoncus.
                    Phasellus ut enim sit amet velit dictum fringilla. Nullam dictum sed nisl quis faucibus. Aliquam
                    erat volutpat. Aliquam tempor placerat purus eget tempus. Aliquam sollicitudin pharetra sem ut
                    rhoncus. Sed interdum eget est id ornare. Nam lectus mi, congue sed eleifend at, tincidunt nec est.
                    Integer rutrum egestas nunc sit amet placerat. Nunc malesuada lorem vitae consequat gravida.
                </p>
            </div>
            <div class="postagem">
                <h2>Como escolher a configuração do seu computador</h2>
                <img width="620px" src="./imagens/postagem2.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui lacus, efficitur eu blandit
                    at, sagittis a est. Pellentesque ac rutrum justo, nec cursus arcu. Phasellus ornare est rutrum
                    ligula dignissim, dictum rhoncus nisl tincidunt. Vivamus blandit leo sit amet euismod rhoncus.
                    Phasellus ut enim sit amet velit dictum fringilla. Nullam dictum sed nisl quis faucibus. Aliquam
                    erat volutpat. Aliquam tempor placerat purus eget tempus. Aliquam sollicitudin pharetra sem ut
                    rhoncus. Sed interdum eget est id ornare. Nam lectus mi, congue sed eleifend at, tincidunt nec est.
                    Integer rutrum egestas nunc sit amet placerat. Nunc malesuada lorem vitae consequat gravida.
                </p>
            </div>
            <div class="postagem">
                <h2>Melhor qualidade para você</h2>
                <img width="620px" src="./imagens/qualidade.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui lacus, efficitur eu blandit
                    at, sagittis a est. Pellentesque ac rutrum justo, nec cursus arcu. Phasellus ornare est rutrum
                    ligula dignissim, dictum rhoncus nisl tincidunt. Vivamus blandit leo sit amet euismod rhoncus.
                    Phasellus ut enim sit amet velit dictum fringilla. Nullam dictum sed nisl quis faucibus. Aliquam
                    erat volutpat. Aliquam tempor placerat purus eget tempus. Aliquam sollicitudin pharetra sem ut
                    rhoncus. Sed interdum eget est id ornare. Nam lectus mi, congue sed eleifend at, tincidunt nec est.
                    Integer rutrum egestas nunc sit amet placerat. Nunc malesuada lorem vitae consequat gravida.
                </p>
            </div>
</body>
<footer>
    <p> Todos os direitos reservados </p>
</footer>

</html>