<!DOCTYPE html>

<head>
    <title>AllinOne - Informática Store - Index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <meta htttp-equiv="refresh" content="3">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<body>

    <div id="area-cabecalho">

        <div id="area-logo">
            <h1> AllinOne! <span class="branco">Tudo em tecnologia para você</span></h1>
        </div>
        <div id="area-menu">
            <a href="index.html">Home</a>
            <a href="quemsomos.html">Quem Somos</a>
            <a href="loja.html">Loja</a>
            <a href="servicos.html">Serviços</a>
            <a href="contato.html">Contato</a>
        </div>
    </div>
    <div id="area-principal">
        <h1>Nossas postagens</h1> <br>
        <div id="area-postagens">
            <div class="postagem">
                <h2>Importância da tecnologia no dia a dia</h2> <br /> <br />
                <img width="620px" src="./imagens/postagem1.jpg">
                <p>O mundo está em constante evolução. Coisas que antes eram impossíveis aos nossos olhos, hoje são
                    consideradas comuns no nosso cotidiano, e até mesmo indispensáveis. Anos atrás era inacreditável
                    imaginar que com um pequeno aparelho em mãos conseguiríamos acessar praticamente qualquer conteúdo
                    que quiséssemos de qualquer lugar do mundo, não é verdade?</p> <br />
                <p> Essas mudanças impactam também o comportamento do ser humano, que tem que aprender a acompanhar essa
                    evolução e conviver com novas tecnologias. Essa adaptação traz consigo uma série de benefícios, como
                    melhora na qualidade de vida, acesso rápido e fácil ao conhecimento, simplificação da troca de
                    informações e a quebra de várias barreiras da comunicação. Outro fator de destaque é a inclusão
                    social.
                </p>
            </div>
            <div class="postagem">
                <h2>Como escolher a configuração do seu computador</h2> <br /> <br />
                <img width="620px" src="./imagens/postagem2.png">
                <p>o computador de melhor desempenho para não deixar ninguém na mão depende diretamente da sua
                    necessidade, mas uma máquina para o uso cotidiano, fica a sugestão do melhor custo benefício que
                    deve ter a seguinte configuração mínima: processador Core-i3 de 10ª Geração, 8GB de memória RAM e um
                    SSD de 240GB. Contendo esses itens, seja PC ou notebook. </p> <br>
                <p>Se caso necessitar de uma <b>Máquina</b> com maior potencia é recomendado ter uma pesquisa mais
                    afundo.</p> <br />
                <a href="https://br.crucial.com/articles/pc-builders/how-to-build-a-computer">Como fazer um orçamento e
                    montar seu PC</a>
            </div>
            <div class="postagem">
                <h2>Melhor qualidade para você</h2> <br /> <br />
                <img width="620px" src="./imagens/qualidade.png">
                <p>Com nossos produtos de alta qualidade e profissionais bem capacitados, prezamos pela qualidade do
                    nosso atendimento.</p> <br />
                <a href="quemsomos.html"> AllinOne </a>
            </div>
</body>
<footer>
    <p> Todos os direitos reservados </p>
</footer>

</html>