<!DOCTYPE html>

<head>
    <title>AllinOne - Informática Store - Loja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <meta htttp-equiv="refresh" content="3">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<body>

    <div id="area-cabecalho">

        <div id="area-logo">
            <h1> AllinOne! <span class="branco">Tudo em tecnologia para você</span></h1>
        </div>
        <div id="area-menu">
            <a href="index.html">Home</a>
            <a href="quemsomos.html">Quem Somos</a>
            <a href="loja.html">Loja</a>
            <a href="servicos.html">Serviços</a>
            <a href="contato.html">Contato</a>
        </div>
    </div>
    <div id="area-principal">
        <h1>Loja</h1> <br>
        <div id="area-loja">
            <div class="postagem">
                <h2>Computador Pessoal</h2>
                <img width="150px" src="./imagens/computadorloja.jpg">
                <p>"Um computador símples que cabe no bolso e não te deixa na mão" </p> <br />
                    <ul>
                        <li><b>Processador: I5 650 3.20 Ghz</b></li> <br />
                        <li><b>Ram: 8 GB</b></li> <br />
                        <li><b>SSD: 240 GB</b></li> <br />
                        <li><b>Fonte: 230W - 110/220V</b></li> <br />
                        <li><b>Sistema Operacional: Windows 10 Pro</b></li> <br />
                    </ul>
                <a href="contato.html">COMPRAR</a>
            </div>
            <div class="postagem">
                <h2>Tablet Pessoal</h2>
                <img width="150px" src="./imagens/tabletloja.jpg">
                <p>"Um tablet símples perfeito para atividades de lazer desde assistir séries a ler livros digitais"</p> <br />
                <ul>
                    <li><b>Memoria: 128 GB</b></li> <br />
                    <li><B>Ram: 4 GB</B></li> <br />
                    <li><b>Tela: 10.4</b></li> <br />
                </ul>
                <a href="contato.html">COMPRAR</a>
            </div>
            <div class="postagem">
                <h2>Monitor</h2>
                <img width="150px" src="./imagens/monitorloja.jpg">
                <p>"Um monitor plano perfeito para aqueles que gostam de ver os minimos detalhes"</p> <br />
                <ul> 
                    <li><b>Área de visualização: 409,8 - 230,4(mm2)</b></li> <br />
                    <li><b>Ângulo de visão: H:176°V:170°</b> </li> <br />
                    <li><b>Resolução(Tip.): 1440x900@60HZ </b></li> <br />
                    <li><b>Cores: 16,7M</b> </li> <br />
                    <li><b>Brilho (Tip.): 250cd/m2</b> </li> <br />
                    <li><b>Tempo de resposta (Tip.): 5ms</b> </li> <br />
                    <li><b>Relação de contraste (Tip.): 1000:1</b> </li> <br />
                    <li><b>Conector: VGA+HDMI</b> </li> <br />
                </ul>
                <a href="contato.html">COMPRAR</a>
            </div>
        </div>
        <div id="area-loja">
            <div class="postagem">
                <h2>Roteador</h2>
                <img width="150px" src="./imagens/roteadorloja.jpg">
                <p>"Roteador barato, bom e duradouro"</p> <br />
                <ul>
                    <li><b>Velocidade: 1167Mbps</b></li> <br />
                    <li><b>Portas: 5</b></li> <br />
                    <li><b>Protocolos: SPI, WEP, WPA, WPA2, DMZ</b></li> <br />
                    <li><b>Dimensões: 229.9mm de largura, 36.9mm de altura, 144.2mm de profundidade.</b></li> <br />
                </ul>
                <a href="contato.html">COMPRAR</a>
            </div>
            <div class="postagem">
                <h2>Switch</h2>
                <img width="150px" src="./imagens/switchloja.jpg">
                <p>"Switch de alta qualidade e necessario para sua empresa"</p> <br />
                <ul>
                    <li><b>Portas: 48</b></li> <br />
                    <li><b>SFP: 4</b></li> <br />
                    <li><b>Camadas: 2</b></li> <br />
                </ul>
                <a href="contato.html">COMPRAR</a>
            </div>
            <div class="postagem">
                <h2>Nobreak</h2>
                <img width="150px" src="./imagens/nobreakloja.jpg">
                <p>"A busca perfeita para protecção de seus equipamentos eletrônicos"</p>
                <li><b>Voltagem: 110/220V </b></li> <br />
                <li><b>Tomadas: 6</b></li> <br />
                <a href="contato.html">COMPRAR</a>
            </div>
        </div>
    </div>
</body>
<footer>
    <p> Todos os direitos reservados </p>
</footer>

</html>