<!DOCTYPE html>

<head>
    <title>AllinOne - Informática Store - QuemSomos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <meta htttp-equiv="refresh" content="3">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<body>

    <div id="area-cabecalho">

        <div id="area-logo">
            <h1> AllinOne! <span class="branco">Tudo em tecnologia para você</span></h1>
        </div>
        <div id="area-menu">
            <a href="index.html">Home</a>
            <a href="quemsomos.html">Quem Somos</a>
            <a href="loja.html">Loja</a>
            <a href="servicos.html">Serviços</a>
            <a href="contato.html">Contato</a>
        </div>
    </div>
    <div id="area-principal">
        <h2>Nossa empresa</h2> <br>
        <div id="area-postagens">
            <div class="postagem">


                <p>
                    A <b>AllinOne Informática </b>foi criada com o objetivo de proporcional uma experiência
                    diferente, quando o cliente necessitade um dispositivo de tecnologia, para suprir suas necessidades
                    empresariais ou pessoais. Nossa equipe de atendimento é capacitada, mantendo-se alinhada com as
                    últimas tecnologias, lançadas pelos maiores players do mercado.Com isto, podemos trabalhar para que
                    a Tecnologia correta seja utilizada por você, tornando seu investimento adequado a sua situação.nos
                    conhecer. Será um prazer tê-lo conosco.
                </p><br>
            </div>


            <div class="postagem">
                <h2>Missão, Visão e Valores</h2>
                <ul>
                    <li>Ser a principal referência em atendimento ao cliente na área de tecnologia</li><br>
                    <li>Possuir a maior garantia do mercado</li><br>
                    <li>Ter ética, transparência e honestidade em todos seus atendimentos</li><br>
                    <li>Ser ágil e preciso nas entregas e suporte técnico</li><br>
                    <li>Surpreender os clientes a cada novo contato</li><br>
                </ul>
            </div>
        </div>
    </div>
</body>
<footer>
    <p> 
        Todos os direitos reservados
    </p>
</footer>

</html>