.footer{
    text-align: center;
    background-color: black;
    color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;

}