

.align2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.img {
    width: 10rem;
    height: auto;
}

.caixa {
    display: inline-block;
    margin: 20px;
}
