.headerCSS {
    padding: 0.5rem;
    background-color: white;
    color: black;

    img {
        width: 3.4rem;
        height: 3.5rem;
    }
}

.headerLoginCSS {
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    float: right;
}