.homeTituloCSS {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homeCardCSS {    
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    padding: 2px 16px;

background-color: black;
color: white;
}