.homeTituloCSS {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}