
$color1:#0E23E6;

$color2:#0E67E6;

$color3:#850EE6;

$color4:rgba(0, 0, 0, 0.517);

$color5:white;


#Main_Dashboard{
    max-width: 600px;
    width: 98%;
    height: 100vh;
    margin: auto;
    background-image: url(../Multimidia/PlanoDeFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#Header_Dashboard{
  background-color: $color2;
  text-align: center;
  color: $color5;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 0px 0px 100px 100px ;

}

#Sessao_Dashboard{
    text-align: center;
    
    .Links_Dashboard{
        text-decoration: none;
        p{
            max-width: 300px;
            margin: auto;
            margin-top: 40px;
            background-color: $color2;
            border-radius: 6px;
            color: $color5;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        p:hover{
                max-width: 300px;
                margin: auto;
                margin-top: 40px;
                background-color: $color3;
                border-radius: 6px;
                color: $color5;
                font-weight: bold;
                font-size: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
        }
    }
    button{
        background-color:rgba(255, 0, 0, 0.698);
        color: $color5;
        border: transparent;
        font-weight: bold;
        width: 20%;
        border-radius: 6px;
        float: right;
        margin-right: 50px;
    }
    button:hover{
        background-color:red;
        color: $color5;
        border: transparent;
        font-weight: bold;
        font-size: 25px;
        width: 20%;
        border-radius: 6px;
    }
}

#Footer_Dashboard{
    height: 10px;
    max-width: 600px;
    width: 100%;
    background-color: $color2;
    border-radius: 100px 100px 0px 0px;
    position: fixed;
    bottom: 0px;
}


    
    
