body {
    background-color: lavender;
}

.pesquisa {
    padding: 1rem;
    font-size: 1.5vw;
}

.link,
link a:link,
link a:visited {
    font-size: 1.4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    background-color: blue;
}