.grid-container {
    justify-content: center;
    justify-content: space-around;
    display: grid;
    box-sizing: border-box;
    border-radius: 1rem;

    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 2rem;

    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 12rem 12rem 12rem;
    background-color: gray;
}

.grid-container div {
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    padding: 2rem 2rem;
}

.grid-container a:link, .grid-container a:visited {
    color: black;
}

.legenda {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

.disponivel {
    color: rgb(2, 177, 2);
}

.nao-disponivel {
    color: red;
}

.botao {
    height: 2rem;
    -ms-transform: translateX(500%);
    transform: translateX(500%);
    }