
.conteinerEscolha{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p{
        text-align: center;
              margin-top: 1rem;
              font-size: 2rem;
              font-weight: bold;
    }

    button{
        margin-top: 1rem;
        height: 3rem;
        width: 15%;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #1253f5;
        padding: 0.3rem;

         a{
            text-decoration: none;
            font-style: italic;
            font-size: 1.7rem;
            font-weight: bold;
            color: #FFFF;
        }
    }
}
