.titulo {
    font-size: 2vw;
    text-align: center;
}

.h2produtos {
    font-size: 2.5vw;
}

.grid-container {
    justify-content: center;
    justify-content: space-around;
    display: grid;
    box-sizing: border-box;
    border-radius: 1rem;
    justify-content: space-around;

    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 2rem;

    row-gap: 1rem;
    background-color: gray;
}

.grid-container div {
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    padding: 0.5rem;
}

.grid-container a:link, .grid-container a:visited {
    color: black;
}
