$color1:#0E23E6;

$color2:#0E67E6;

$color3:#850EE6;

$color4:rgba(0, 0, 0, 0.517);

$color5:white;



.loginInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;

    h1 {
        background-color: $color2;
        color: $color5;
        border-radius: 0px 0px 100px 100px;
        text-align: center;
        height: rem;
        padding: 0.5rem;
        width: 100%;
        font-size: 3rem;
    }
}

.formInicio {
    h2 {
        background-color: $color2;
        border-radius: 0.5rem;
        text-align: center;
        height: 4rem;
        padding: 0.5rem;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label{
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: bold;
        }

        input{
            padding: 0.3rem;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            height: 3rem;
            max-width: 400px;
            width: 100%;
        }
        
        button{
            margin-top: 1rem;
            height: 3rem;
            width: 30%;
            border-radius: 0.5rem;
            border: 1px solid $color5;
            font-size: 1.5rem;
            font-weight: bold;
            background-color: $color2;
            padding: 0.3rem;
            color: $color5;

        }       
    }

    p{
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;

        a{
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: $color2;

        }
    }
}

.buttonAqui{
    background-color: $color5;
    border-width: 0;
    color: $color2;
    font-weight: bold;
}
